<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ffffff">

{% seo %}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">

<link rel="stylesheet" href="{{ '/pagefind/pagefind-ui.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="icon" href="{{ '/favicon.svg' | relative_url }}" type="image/svg+xml">
